@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --black: #222222;

    --font-main: "Montserrat", sans-serif;


    --gap: 15px;
    --menu-size: 80px;
    --social-btns-size: 50px;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-main);
}

.container {
    padding-left: calc(var(--menu-size) + var(--gap));
    padding-right: calc(var(--social-btns-size) + var(--gap));
}

nav {
    background-color: var(--black);

    position: fixed;
    z-index: 1000;
}

.nav-menu {
    top: 0;
    left: 0;

    width: var(--menu-size);
    height: 100dvh;
}

.nav-social {
    bottom: 0;
    right: 0;

    width: var(--social-btns-size);
} 

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    padding-block: var(--gap);
}