@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
    --black: #222222;

    --font-main: "Montserrat", sans-serif;

    --gap: 15px;
    --menu-size: 80px;
    --social-btns-size: 50px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-main);
}

main>section {
    width: 100%;
    max-height: 100dvh;
    aspect-ratio: 1920 / 1080;
}

main>section,
section>.background {
    padding-left: calc(var(--menu-size));
    padding-right: calc(var(--social-btns-size));
}

.container {
    width: 100%;
    height: 100%;

    padding-left: var(--gap);
    padding-right: var(--gap);
}

nav {
    background-color: var(--black);

    position: fixed;
    z-index: 1000;
}

.nav-menu {
    top: 0;
    left: 0;

    width: var(--menu-size);
    height: 100dvh;
}

.nav-social {
    bottom: 0;
    right: 0;

    width: var(--social-btns-size);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    padding-block: var(--gap);
}

.start {
    display: flex;

    &>div {
        width: 50%;
    }
}

.start__logo {
    display: flex;
    flex-wrap: wrap;
}

.color {
    width: 50%;

    &:last-of-type {
        border-bottom-right-radius: 50%;
    }
}

.color--1 {
    background-color: #23536d;
}

.color--2 {
    background-color: #ff6969;   
}

.color--3 {
    background-color: #ffe49d;
}

.color--4 {
    background-color: #67c5e2;
}

.start__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start__title {
    text-align: right;
    font-size: clamp(20px, 11dvw, 200px);
    font-weight: 300;

    &>span {
        display: block;
        font-weight: 700;
    }
}

.start__branches {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.start__item {
    flex-grow: 1;

    width: calc(50% - 5px);
    padding: 3px;

    background-color: #f0f0f0;
    border-radius: 30px;
    
    text-align: center;
    font-weight: 700;
}

.about, .advantages {
    position: relative;
}

.about__content, .advantages__content {
    width: 100%;
    height: 100%;

    color: white;

    position: relative;
    z-index: 2;

    &>.container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.advantages__title {
    color: var(--black);
}

.about__title, .advantages__title {
    font-size: clamp(15px, 7dvw, 40px);
}

.about__text, .advantages__text {
    font-size: clamp(10px, 3dvw, 40px);
}

.about__background.background {
    background-color: #ff6969e6;

    &>.container {
        justify-content: space-between;
    }
}

.advantages__background.background {
    background-color: rgb(255 228 157);

    & .background__second-text {
        flex-grow: 1;
        font-size: clamp(10px, 5dvw, 50px);
    }
}

.about__background.background, .advantages__background.background {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    &>.container {
        display: flex;
    }

    & .background__text {
        font-size: clamp(20px, 9dvw, 130px);
        font-weight: 700;
        opacity: 0.15;
        white-space: nowrap;
    }

    & .background__figures {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 0;

        width: calc(300 / 1920 * 100%);
        height: 100%;
    }
}

.rectangle {
    height: calc(150 / 1080 * 100%);
    border-radius: 0 10px;
    box-shadow: 10px 10px 0 var(--black);
}

.rectangle--1 {
    width: 60%;
    align-self: flex-end;
    
    background-color: #547bc7;
}

.rectangle--2 {
    width: 50%;

    background-color: #3993ba;
}

.rectangle--3 {
    width: 70%;
    align-self: flex-start;

    background-color: #e36fc3;
}

@media screen and (max-width: 1450px) {
    .advantages__background.background > .container {
        flex-direction: column;
        justify-content: space-between;

        & > .background__second-text {
            flex-grow: 0;
        }
    }

    .advantages__img {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .about__background.background .background__figures {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .start {
        flex-direction: column;
        aspect-ratio: 1080 / 1920;

        &>div {
            width: 100%;
            height: 50%;
        }
    }
}